#itinerary-generator {
    padding: 25px;
    margin: 25px auto;
    background-color: #5e23b0;
    color: white;
}

body {
    background-color: #2294d4;
    display: flex;
    justify-content: center;
}